{% extends 'layout.twig' %}

{% block body %}

<div class="container">
    <ol class="breadcrumb">
        <li><a href="{{ path_for('home') }}">Accueil</a></li>
        <li><a href="{{ path_for('category.get') }}">Catégories</a></li>
        <li class="active">Modifier une catégorie</li>
    </ol>
    <div class="page-header">
        <h2>Modifier une catégorie</h2>
    </div>
    <form action="" method="POST">
        <div class="row">
            <div class="col-md-4">
                {{ form.group('name', category.name, 'name', 'Nom') }}
            </div>
        </div>

        {% if not categories is empty %}
            <div class="form-group{% if has_error('parent_id') %} has-error{% endif %}">
                <label for="parent_id">Catégorie parente</label>
                <select name="parent_id" id="parent_id" class="form-control">
                    <option value="0">Choisissez une catégorie parente</option>
                    {% for parent in categories %}
                        <option value="{{ parent.id }}" {% if parent.id == category.parent_id %} selected{% endif %}>{{ parent.name }}</option>
                    {% endfor %}
                </select>
                <span class="help-block">{{ error('parent_id') }}</span>
            </div>
        {% endif %}

        {% if not properties is empty %}
            <div {% if has_error('properties') %}class="has-error"{% endif %}>
                <label>Propriétés</label>
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Nom</th>
                        <th class="text-center">Requise</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for property in properties %}
                        {% set selected = category.properties.contains(property.id) %}
                        {% set required = category.properties.where('id', property.id).first().pivot.required %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ property.name }}</td>
                            <td class="text-center">
                                <input type="checkbox" name="required[]" value="{{ property.id }}"{% if selected and required %} checked{% endif %}>
                            </td>
                            <td class="text-right">
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-default btn-sm{% if selected %} active{% endif %}">
                                        <input type="checkbox" name="properties[]" value="{{ property.id }}" autocomplete="off"{% if selected %} checked{% endif %}> Associer
                                    </label>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <span class="help-block">{{ error('properties') }}</span>
            </div>
        {% endif %}

        {{ csrf() }}
        <input type="submit" class="btn btn-primary" value="Modifier">
    </form>
</div>

{% endblock %}
