{% extends 'layout.twig' %}

{% block body %}

<div class="container">
    <ol class="breadcrumb">
        <li><a href="{{ path_for('home') }}">Accueil</a></li>
        <li><a href="{{ path_for('item.get') }}">Articles</a></li>
        <li class="active">Ajouter un article</li>
    </ol>
    <div class="page-header">
        <h2>Ajouter un article</h2>
    </div>
    <form action="" method="POST">
        <div class="row">
            <div class="col-md-4">
                {{ form.group('code', val('code'), 'code', 'Code') }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                {{ form.group('purchased_at', val('purchased_at'), 'purchased_at', 'Date d\'achat', null, 'text', 'JJ/MM/AAAA') }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                {{ form.group('repaired_at', val('repaired_at'), 'repaired_at', 'Date de réparation', null, 'text', 'JJ/MM/AAAA') }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group{% if has_error('product_id') %} has-error{% endif %}">
                    <label for="product_id">Produit</label>
                    <select name="product_id" id="product_id" class="form-control">
                        <option value="">Choisissez un produit</option>
                        {% for product in products %}
                            <option value="{{ product.id }}" data-url="{{ path_for('product.properties', {'id': product.id}) }}"{% if val('product_id') == product.id %} selected{% endif %}>{{ product.name }}</option>
                        {% endfor %}
                    </select>
                    <span class="help-block">{{ error('product_id') }}</span>
                </div>
            </div>
        </div>
        <div id="properties"></div>
        {% if has_error('properties') %}
            <div class="has-error">
                <span class="help-block">{{ error('properties') }}</span>
            </div>
        {% endif %}

        {{ csrf() }}
        <input type="submit" class="btn btn-primary" value="Créer">
    </form>
</div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/properties.js') }}"></script>
{% endblock %}
